#grid {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
		"header"
		"article"
		"aside"
		"footer";
}

header {
    grid-area: header;
}

article {
    grid-area: article;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

#header{
    display: grid;
    grid-row-gap: 20px;
}


#grid > * {
    background-color: #28314E;
    border: 1px solid #212941;
    border-radius: 5px;
    padding: 8px 15px;
    color: #ffffff;
    font-size: 18px;
    font-family: roboto;
}

#grid > *:nth-child(odd) {
    background-color: #475477;
}


/* Style Header  Start*/

#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/*Header Dropdown Style Satrt*/
.dropdown {
    display: grid;
    grid-template-columns: 0.1fr 0.3fr 0.5fr;
    grid-column-gap: 5px;
}


.language {
    background-color: #0563af;
    color: white;
    padding: 2px;
    width: 100px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    outline: none;
}

.valuta {
    background-color: #0563af;
    color: white;
    padding: 2px;
    width: 100px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    outline: none;
}


.login_register {
    border-radius: 5px;
    /*padding: 8px 15px;*/
    color: #ffffff;
    font-size: 18px;
    font-family: roboto;
}

.login_register{
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    grid-column-gap: 20px;
    justify-self: end;
}
/*Header Dropdown Style End*/



/*Header center-line Style Start*/

.center-line{
    display: grid;
    grid-template-columns: 0.5fr 550px 200px;
    grid-column-gap: 130px;
}

.search{
    display: grid;
    grid-template-columns: 1fr 150px;
}

.search-input{
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.search-button{
    width: 100%;
    height: 36px;
}


.minicart{
    display: grid;
    grid-template-columns: 55px 150px 150px;
    grid-template-areas:
		"img span"
		"img p";
}

.minicart img {
    grid-area: img;
}

.minicart span {
    grid-area: span;
}

.minicart p {
    grid-area: p;
}



.minicart img{
    width: 50px;
    height: 42px;
}

.minicart{
    display: grid;
    grid-template-rows: 5px;
}
/*Header center-line Style End*/


/*Header navigation Style Start*/
.navigation_dropdown div:nth-child(2){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    justify-items: center;
    list-style-type: none;
}
.navigation_dropdown div:nth-child(2) a:active{
    color: black;
}

.navigation_dropbtn {
    display: none;
}

/*Header navigation Style End*/

/* Style Header  End*/



/* Style aside  Start*/


/*Aside Category Sort Start*/

.category_list{
    display: block;
}

.bar_category{
    display: grid;
    grid-template-rows: 50px auto;
}

.filter-options-title_category {
    display: grid;
    grid-template-columns: 11fr 1fr;
    align-self: center;
}

.filter-options-title_category a  {
    position: relative;
    display: block;
    height: 38px;
    line-height: 38px;
    color: #333;
    text-decoration: none;
}

.filter-options-title_category a img {
    position: absolute;
    right: 0;
    top: 11px;
    width: 12px;
    height: 12px;
    font-size: 12px;
    -webkit-transition: color .15s ease;
    transition: color .15s ease;
}
/*JavaScript*/
.inline .input::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 10px;
    color: #fff;
    line-height: 12px;
    display: none;
    text-align: center;
}

.bar_category_sort {
    display: block;
}

.bar_category_sort label {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50px 0px 100px;
}
/*Aside Category Sort End*/







/* Style aside  End*/

/* MEDIA START*/

@media (max-width: 1260px) {
    /*Header Media Start*/
    #container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .dropdown {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        justify-items: center;
    }
    .login_register{
        display: grid;
        grid-template-columns: 150px  10px 200px ;
        grid-column-gap: 20px;
        justify-self: center;
    }
    .center-line{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 130px;
        grid-template-areas:
        "logo minicart"
        "search  search"
    }
    .logo{
        grid-area: logo
    }
    .search{
        grid-area: search;
    }
    .minicart{
        grid-area: minicart;
    }
    /*Header Media End*/
}

@media (min-width: 1100px) {
    #grid {
        grid-template-columns: 2fr 4fr;
        grid-template-areas:
			"header header"
			"aside article"
            "aside article"
			"footer footer"
    }
}



@media (max-width: 730px) {
    /*Header Media Start*/
    #container {
        display: grid;
        grid-template-columns: 1fr;
        justify-self: center;
    }
    .dropdown {
        display: grid;
        grid-template-columns: 0.7fr;
        grid-column-gap: 10px;
        justify-items: center;
    }
    .login_register{
        display: grid;
        grid-template-columns: 92px 0px 350px ;
        grid-column-gap: 15px;
    }
    .center-line{
        display: grid;
        grid-template-columns: 60px;
        grid-column-gap: 130px;
        grid-template-areas:
        "logo minicart"
        "search  search"
    }
    .search{
        display: grid;
        grid-template-columns: minmax(50px, 520px);
    }
    /*Header Media End*/
}



@media (max-width: 550px) {
    /*Header Media Start*/
    #container {
        display: grid;
        grid-template-columns: 1fr;
        justify-self: center;
    }
    .dropdown div:nth-child(3){
        color: #ffffff;
        font-size: 12px;
        font-family: roboto;
    }
    .login_register{
        display: grid;
        grid-template-columns: 440px 190px;
        justify-items: center;
    }
    .login_register div {
        color: #ffffff;
        font-size: 12px;
        font-family: roboto;
    }
    .search{
        display: grid;
        grid-template-columns: minmax(50px, 375px);
    }
    .navigation_dropdown div:nth-child(2){
        display: none;
    }
    .navigation_dropbtn {
        position: relative;
        display: inline-block;
    }
    .navigation_dropbtn {
        display: grid;
        grid-template-columns: 375px;
        justify-content: stretch;
    }
    .navigation_dropdown_content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .navigation_dropdown:hover .navigation_dropdown_content {
        display: block;
    }
    .navigation_dropdown_content a {
        display: grid;
        grid-template-columns: 375px;
        justify-content: stretch;
        justify-items: center;
        color: black;
        padding: 8px 0px;
        text-decoration: none;
        /*display: block;*/
    }


    /*Header Media End*/
}



@media (max-width: 410px) {
    /*Header Media Start*/
    #container {
        display: grid;
        grid-template-columns: 1fr;
        justify-self: center;
    }
    .dropdown {
        display: grid;
        justify-self: start;
    }
    .dropdown div:nth-child(3){
        color: #ffffff;
        font-size: 8px;
        font-family: roboto;
    }
    .login_register{
        display: grid;
        justify-items: start;
    }
    .login_register div {
        color: #ffffff;
        font-size: 8px;
        font-family: roboto;
    }
    .center-line {
        display: grid;
        grid-template-areas:
        "logo"
        "minicart"
        "search"
    }
    .logo {
        grid-area: logo
    }
    .search {
        grid-area: search
    }
    .minicart {
        grid-area: minicart
    }
    .minicart img {
        width: 50px;
        height: 30px;
    }
    .minicart * {
        font-size: 8px;
    }
    .logo img {
        width: 100px;
        height: 50px;
    }
    .search{
        display: grid;
        grid-template-columns: 120px;
    }
    .navigation ul{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, auto));
        grid-row-gap: 2px;
        list-style-type: none;
    }




    .navigation_dropdown div:nth-child(2){
        display: none;
    }

    .navigation_dropbtn {
        position: relative;
        display: inline-block;
    }

    .navigation_dropbtn {
        display: grid;
        grid-template-columns: 120px;
        justify-content: stretch;
    }

    .navigation_dropdown_content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }



    .navigation_dropdown_content a {

        display: grid;
        grid-template-columns: 110px;
        justify-content: stretch;
        justify-items: center;
        color: black;
        padding: 8px 0px;
        text-decoration: none;
        /*display: block;*/

    }

    /*Header Media End*/
}

/* MEDIA END*/









