#grid {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
		"header"
		"article"
		"aside"
		"footer";
}

header {
    grid-area: header;
}

article {
    grid-area: article;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

#header {
    display: grid;
    grid-row-gap: 5px;
}

@media (min-width: 1100px) {
    #grid {
        grid-template-columns: 1.5fr 4.5fr;
        grid-template-areas:
			"header header"
			"aside article"
            "aside article"
			"footer footer"
    }
}


#grid > * {
    background-color: #28314E;
    border: 1px solid #212941;
    border-radius: 5px;
    padding: 8px 15px;
    color: #ffffff;
    font-size: 18px;
    font-family: roboto;
}

#grid > *:nth-child(odd) {
    background-color: #475477;
}


/* Style Header  Start*/

#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/*Header Dropdown Style Satrt*/
.dropdown {
    display: grid;
    grid-template-columns: 0.1fr 0.3fr 0.5fr;
    grid-column-gap: 5px;
}


.language {
    background-color: #0563af;
    color: white;
    padding: 2px;
    width: 100px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    outline: none;
}

.valuta {
    background-color: #0563af;
    color: white;
    padding: 2px;
    width: 100px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    outline: none;
}


.login_register {
    border-radius: 5px;
    /*padding: 8px 15px;*/
    color: #ffffff;
    font-size: 18px;
    font-family: roboto;
}

.login_register {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    grid-column-gap: 20px;
    justify-self: end;
}

/*Header Dropdown Style End*/


/*Header center-line Style Start*/

.center-line {
    display: grid;
    grid-template-columns: 0.5fr 550px 200px;
    grid-column-gap: 130px;
}

.search {
    display: grid;
    grid-template-columns: 1fr 150px;
}

.search-input {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.search-button {
    width: 100%;
    height: 36px;
}


.minicart {
    display: grid;
    grid-template-columns: 55px 150px 150px;
    grid-template-areas:
		"img span"
		"img p";
}

.minicart img {
    grid-area: img;
}

.minicart span {
    grid-area: span;
}

.minicart p {
    grid-area: p;
}


.minicart img {
    width: 50px;
    height: 42px;
}

.minicart {
    display: grid;
    grid-template-rows: 5px;
}

/*Header center-line Style End*/


/*Header navigation Style Start*/
.navigation_dropdown div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    justify-items: center;
    list-style-type: none;
}

.navigation_dropdown div:nth-child(2) a:active {
    color: black;
}

.navigation_dropbtn {
    display: none;
}

/*Header navigation Style End*/

/* Style Header  End*/


/* Style aside  Start*/


/*Aside Category Sort Start*/

.category_list {
    display: block;
}

.bar_category {
    display: grid;
    grid-template-rows: 50px auto;
}

.filter-options-title_category {
    display: grid;
    grid-template-columns: 11fr 1fr;
    align-self: center;
}

.filter-options-title_category a {
    position: relative;
    display: block;
    height: 38px;
    line-height: 38px;
    color: #333;
    text-decoration: none;
}

.filter-options-title_category a img {
    position: absolute;
    right: 0;
    top: 11px;
    width: 12px;
    height: 12px;
    font-size: 12px;
    -webkit-transition: color .15s ease;
    transition: color .15s ease;
}

/*JavaScript*/
.inline .input::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 10px;
    color: #fff;
    line-height: 12px;
    display: none;
    text-align: center;
}

.bar_category_sort {
    display: block;
}

.bar_category_sort label {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50px 0px 100px;
}

/*Aside Category Sort End*/


/*Aside Price Sort Start*/

.aside_bar_price_display {
    display: block;
}

.aside_bar_price {
    display: grid;
    grid-template-areas:
    "slider_price slider_price"
    "from_price to_price"
}

.slider_price {
    grid-area: slider_price;
}

.from_price {
    grid-area: from_price;
}

.to_price {
    grid-area: to_price;
}

/*Aside Price Sort End*/


/*Aside Size Sort Start*/

.aside_bar_size_display {
    display: block;
}

.aside_bar_size {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 5px;
}

/*Aside Size Sort End*/


/* Style aside  End*/


/* Style Article Start*/

/*Start Article Products Style Start*/

.article_products {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, auto));
    grid-gap: 5px;
    grid-auto-rows: minmax(290px, auto);
    justify-content: center;
}

.article_products div {
    background-color: #28314E;
    border: 1px solid #212941;
    border-radius: 5px;
    padding: 8px 15px;
    color: #ffffff;
    font-size: 18px;
    font-family: roboto;
}

.img_product img {
    width: 250px;
    height: 250px;
}

.article_products_item div{
    font-size: 12px;
}


.article_products_pages_button_number{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-gap: 3px;
}

.article_products_pages_button_number_media {
    display: none;
}

/*Start Article Products Style End*/

/* Style Article End*/

/* Style Footer Start*/

.footer{
    display: grid;
    grid-template-columns: auto;
}

/*Footer About Style Start*/

.footer_about{
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr;
    grid-gap: 50px;
}


.footer_about_us_title {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 15px;
}

.footer_about_us_title span:nth-child(1)  {
    font-size: 16px;
}

.footer_about_us_title span  {
    font-size: 12px;
}

.footer_about_us_title span img {
    width: 20px;
    height: 20px;
}

.footer_halp {
    display: grid;
    grid-template-columns: auto;
}

.footer_halp span:nth-child(1)  {
    font-size: 16px;
}

.footer_halp span  {
    font-size: 12px;
}


.footer_information {
    display: grid;
    grid-template-columns: auto;
}

.footer_information span:nth-child(1)  {
    font-size: 16px;
}

.footer_information span  {
    font-size: 12px;
}

/*Footer About Style End*/


/*Footer Pay Men Start*/

.pay-men {
    display: grid;
    justify-content: center;
}

.pay-men div img {
    width: 90px;
    height: 59px;

}

/*Footer Pay Men End*/




/*Footer Copyright Start*/


.footer_copyright {
    display: grid;
    grid-template-columns: 134px 80px 166px;
    justify-content: center;
    font-size: 12px;
}


/*Footer Copyright End*/
/* Style Footer End*/



/* MEDIA START*/

@media (max-width: 1260px) {
    /*Header Media Start*/
    #container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .dropdown {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        justify-items: center;
    }

    .login_register {
        display: grid;
        grid-template-columns: 150px  10px 200px;
        grid-column-gap: 20px;
        justify-self: center;
    }

    .center-line {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 130px;
        grid-template-areas:
        "logo minicart"
        "search  search"
    }

    .logo {
        grid-area: logo
    }

    .search {
        grid-area: search;
    }

    .minicart {
        grid-area: minicart;
    }

    /*Header Media End*/





}


@media (max-width: 1200px) {
    /*Start Media Article Products Style Start*/

    .article_products {
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, auto));
        grid-gap: 5px;
        grid-auto-rows: minmax(290px, auto);
        justify-content: center;
    }

    .article_products div {
        background-color: #28314E;
        border: 1px solid #212941;
        border-radius: 5px;
        padding: 8px 15px;
        color: #ffffff;
        font-size: 18px;
        font-family: roboto;
    }

    .img_product img {
        width: 250px;
        height: 250px;
    }

    .article_products_item div{
        font-size: 12px;
    }


    .article_products_pages_button_number{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
        grid-gap: 3px;
    }

    /*Start @Media Article Products Style End*/
}


@media (max-width: 1100px) {
    /*Aside Media Start*/

    /*!*@Media Style Category Sort Start*!*/
    /*.filter-options-title_category a {*/
    /*    position: relative;*/
    /*    display: block;*/
    /*    height: 38px;*/
    /*    line-height: 38px;*/
    /*    color: #333;*/
    /*    text-decoration: none;*/
    /*    margin-left: 450px;*/
    /*}*/

    /*.filter-options-title_category {*/
    /*    display: grid;*/
    /*    grid-template-columns: 5fr 4fr;*/
    /*    align-self: center;*/
    /*}*/

    /*!*@Media Style Category Sort End*!*/

    /*Aside Media End*/
}


@media (max-width: 730px) {
    #grid {
        grid-template-columns: 2fr 4fr;
        grid-template-areas:
			"header header"
			"article article"
            "aside aside"
			"footer footer"
    }


    /*Header Media Start*/
    #container {
        display: grid;
        grid-template-columns: 1fr;
        justify-self: center;
    }

    .dropdown {
        display: grid;
        grid-template-columns: 0.7fr;
        grid-column-gap: 10px;
        justify-items: center;
    }

    .login_register {
        display: grid;
        grid-template-columns: 92px 0px 350px;
        grid-column-gap: 15px;
    }

    .center-line {
        display: grid;
        grid-template-columns: 60px;
        grid-column-gap: 130px;
        grid-template-areas:
        "logo minicart"
        "search  search"
    }

    .search {
        display: grid;
        grid-template-columns: minmax(50px, 520px);
    }

    /*Header Media End*/

    /*Footer Media Start*/

    .footer_about {
        display: grid;
        grid-template-columns: auto;
    }

    /*Footer Media End*/

}


@media (max-width: 624px) {
    /*Start Media Article Products Style Start*/

    .article_products {
        display: grid;
        grid-template-columns: repeat(1, minmax(150px, auto));
        grid-gap: 5px;
        grid-auto-rows: minmax(290px, auto);
        justify-content: center;
    }

    .article_products_pages_button_number{
        display: none;
    }

    .article_products_pages_button_number_media {
        display: block;
    }

    .article_products_pages_button_number_media {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-gap: 10px;
    }

    /*Start Media Article Products Style End*/
}

@media (max-width: 550px) {
    /*Header Media Start*/
    #container {
        display: grid;
        grid-template-columns: 1fr;
        justify-self: center;
    }

    .dropdown div:nth-child(3) {
        color: #ffffff;
        font-size: 12px;
        font-family: roboto;
    }

    .login_register {
        display: grid;
        grid-template-columns: 440px 190px;
        justify-items: center;
    }

    .login_register div {
        color: #ffffff;
        font-size: 12px;
        font-family: roboto;
    }

    .search {
        display: grid;
        grid-template-columns: minmax(50px, 375px);
    }

    .navigation_dropdown div:nth-child(2) {
        display: none;
    }

    .navigation_dropbtn {
        position: relative;
        display: inline-block;
    }

    .navigation_dropbtn {
        display: grid;
        grid-template-columns: 375px;
        justify-content: stretch;
    }

    .navigation_dropdown_content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .navigation_dropdown:hover .navigation_dropdown_content {
        display: block;
    }

    .navigation_dropdown_content a {
        display: grid;
        grid-template-columns: 375px;
        justify-content: stretch;
        justify-items: center;
        color: black;
        padding: 8px 0px;
        text-decoration: none;
        /*display: block;*/
    }


    /*Header Media End*/

    /*Footer Media Start*/

    .pay-men div {
        display: grid;
        grid-template-columns: auto;
    }

    /*Footer Media End*/

}


@media (max-width: 410px) {
    /*Header Media Start*/
    #container {
        display: grid;
        grid-template-columns: 1fr;
        justify-self: center;
    }

    .dropdown {
        display: grid;
        justify-self: start;
    }

    .dropdown div:nth-child(3) {
        color: #ffffff;
        font-size: 8px;
        font-family: roboto;
    }

    .login_register {
        display: grid;
        justify-items: start;
    }

    .login_register div {
        color: #ffffff;
        font-size: 8px;
        font-family: roboto;
    }

    .center-line {
        display: grid;
        grid-template-areas:
        "logo"
        "minicart"
        "search"
    }

    .logo {
        grid-area: logo
    }

    .search {
        grid-area: search
    }

    .minicart {
        grid-area: minicart
    }

    .minicart img {
        width: 50px;
        height: 30px;
    }

    .minicart * {
        font-size: 8px;
    }

    .logo img {
        width: 100px;
        height: 50px;
    }

    .search {
        display: grid;
        grid-template-columns: 120px;
    }

    .navigation ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, auto));
        grid-row-gap: 2px;
        list-style-type: none;
    }


    .navigation_dropdown div:nth-child(2) {
        display: none;
    }

    .navigation_dropbtn {
        position: relative;
        display: inline-block;
    }

    .navigation_dropbtn {
        display: grid;
        grid-template-columns: 120px;
        justify-content: stretch;
    }

    .navigation_dropdown_content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }


    .navigation_dropdown_content a {

        display: grid;
        grid-template-columns: 110px;
        justify-content: stretch;
        justify-items: center;
        color: black;
        padding: 8px 0px;
        text-decoration: none;
        /*display: block;*/
    }

    /*Header Media End*/

    /*Aside Media Start*/

    .aside_bar_price {
        display: grid;
        grid-template-areas:
    "slider_price slider_price"
    "from_price from_price"
    "to_price to_price"
    }

    .slider_price {
        grid-area: slider_price;
    }

    .from_price {
        grid-area: from_price;
    }

    .to_price {
        grid-area: to_price;
    }


    .aside_bar_size {
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-gap: 5px;
    }

    /*Aside Media End*/

}


@media (max-width: 300px) {
    /*Aside Media Start*/
    .bar_category_sort {
        display: none;
    }

    .aside_bar_price_display {
        display: none;
    }

    .aside_bar_size_display{
        display: none;
    }



    /*@media style Catergoty Sort Start*/

    .bar_category div:nth-child(2) {
        display: none;
    }

    .filter-options-title_category {
        position: relative;
        display: inline-block;
    }

    .filter-options-title_category {
        display: grid;
        grid-template-columns: 375px;
        justify-content: stretch;
    }

    .bar_category_sort {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .bar_category:hover .bar_category_sort {
        display: block;
    }

    .bar_category_sort label {
        display: grid;
        grid-template-columns: 30px;
        justify-content: start;
        justify-items: start;
        color: black;
        padding: 5px 13px;
        text-decoration: none;
    }
    /*@media style Catergoty Sort End*/



    /*@media style Price Sort Start*/

    .aside_bar_price_sort div:nth-child(2) {
        display: none;
    }

    .filter-options-title_category {
        position: relative;
        display: inline-block;
    }

    .filter-options-title_category {
        display: grid;
        grid-template-columns: 375px;
        justify-content: stretch;
    }

    .aside_bar_price {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .aside_bar_price_sort:hover .aside_bar_price {
        display: block;
    }

    .aside_bar_price label {
        display: grid;
        grid-template-columns: 30px;
        justify-content: start;
        justify-items: start;
        color: black;
        padding: 5px 13px;
        text-decoration: none;
    }
    /*@media style Price Sort End*/






    /*@media style Size Sort Start*/

    .aside_bar_size_sort div:nth-child(2) {
        display: none;
    }

    .filter-options-title_category {
        position: relative;
        display: inline-block;
    }

    .filter-options-title_category {
        display: grid;
        grid-template-columns: 375px;
        justify-content: stretch;
    }

    .aside_bar_size {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .aside_bar_size_sort:hover .aside_bar_size {
        display: block;
    }

    .aside_bar_size label {
        display: grid;
        grid-template-columns: 30px;
        justify-content: start;
        justify-items: start;
        color: black;
        padding: 5px 13px;
        text-decoration: none;
    }
    /*@media style Size Sort End*/

    /*Aside Media End*/


    /*Footer Media Start*/

    .pay-men  {
        display: grid;
        justify-content: start;
    }

    .footer_copyright {
        display: grid;
        grid-template-columns: auto;
        justify-content: start;
    }

    /*Footer Media End*/
}

/* MEDIA END*/









